html{
    background-image: url(../img/backround.jpg);
    background-position: center;
    background-size: cover;
}

h1{
    text-align: center;
    color:#ffffff;
    text-shadow:2px 2px 4px #131313;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 3em;
    margin:1em;
   
}
h2{
    color:#ffffff;
    text-shadow:1px 1px 2px #131313;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 1,5em;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
}
p{
    color: #131313;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin-left: 1em;
    
}


header, footer {
  background-color: #333;
  color: white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 3em;
  width: 3em;
  margin-right: 2em;
}

nav a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  margin: 0 10px;
}


footer {
  font-size: 14px;
  display: flex;
  justify-content:space-between ;
  color:#ffffff;
}

#footer1,#footer2{
  color:#ffffff;
}