h1,h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    color: #64181c;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-style: normal;
    color:#777068;
    
}
                    


body {
  background-color: white;
  background-image: url('travis.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}
body::before {
  background: rgba(0, 0, 0, 0.3); 
}
ul,li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    color: #f5eada;
}
p{color: #dadada;
    font-size: 1.1rem;
    line-height: 1.6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
  }
